.*
!.gitignore
!.settings
!.project
!.oppbuildspec
!.nedfolders
!.nedexclusions
!.cproject
!.oppfeatures
!Makefile
*result*/
random_config_dir/
*.anf
core
*.db*
*.pyc
distributions/

*_m.cc

perf*
*/dc_simulations/out/
Omnet_Sims/dc_simulations/simulations/Vertigo_Sims/figs/
